*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{vertical-align: top; }
html,body{width: 100%;height: 100%;}
.color_999{color: #999;}
.color_000{color: #000000;}
.color_red{color: red;}
.board {
	width: 80%;
	height: auto;
	margin: 0 auto;
}
/* banner_top */
.banner_top {
	width: 100%;
	height: 60px;
}

.banner_top img {
	width: 100%;
	height: 100%;
}

/* top */
.top {
	width: 100%;
	height: 100px;
	;
	margin: auto;
	position: relative;
}
.top:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.board:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.logo:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.logo {
	width: 20%;
	height: 100px;
	position: relative;
	float: left;
}

.logo img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 17%;
}
.logo_right{
	width: 40%;
	height: 100px;
	float: left;
	position: absolute;
	left: 50%;
	top: 0;
}
.logo_right img {
	width: 100%;
}
/* 头部 */
.header{
    width: 100%;
    background-color: #000;
    color: #999;
	font-size: 12px;
	line-height: 30px;
}
.header:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.header_left{
    width: 25%;
    text-align: center;
	float: left;
}
.board:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.header_left ul li{
	width: 25%;
	text-align: center;
	float: left;
}
.header_right{
    width: 65%;
    text-align: center;
	float: right;
}
.board:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.header_right ul li{
	width: 12%;
	text-align: center;
	float: left;
}
/* top */
/* logo→ gg*/
/* input */
#topsearch {
    width: 38%;
    height: 40px;
    padding-left: 1px;
    background-color: #ff2337;
    border-radius: 40px;
    float: left;
    position: absolute;
    left: 504px;
    top: 25px;
}
#topsearch .wrap {
    float: left;
    margin: 2px 1px;
    padding: 6px 39px 6px 30px;
    background-color: #fff;
    border-radius: 24px 0 0 24px;
}
#topSearchInput {
    width: 410px;
    height: 24px;
    line-height: 24px;
    border: 0;
    font-size: 13px;
}
/* ? */

.topsearchboxBackGround {
    width: 60px;
    height: 40px;
    background: #ff2337;
	float: left;
    background-image: linear-gradient(270deg,#ff2337,#ff2337);
    border-radius: 43px;
    position: absolute;
    top: 0;
    right: 0;
}
.topsearchboxBackGround:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
#topSearchBtn {
    display: inline-block;
    height: 40px;
    width: 50px;
    font-size: 19px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    background: url(https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView=&quality=85&thumbnail=20x0&v=1) no-repeat 50%;
}
/* car */
.car{
	width: 106px;
	height: 36px;
	float: left;
	border-radius: 36px;
	border: 2px solid #ff1e32;
	background-color: #fff;
	position: absolute;
	right: 170px;
	top: 25px;
}
.car_logo{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 19px;
	top: 8px;
}
.car_logo img{ width: 100%; height: 100%;}
.car_text{
	width: 50px;
	height: 20px;
	font-size: 14px;
	position: absolute;
	left: 48px;
	top: 9px;
}
/* 历史记录 */
.history{
	width: 37%;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	float: left;
	color: #999;
	position: absolute;
	left: 39%;
	top: 65px;
}
.history>ul:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.history ul li{
	width: 40px;
	text-align: center;
	float: left;
}
 /* nav */
 .top_nav{
	 width: 100%;
	 height: 41px;
	 position: relative;
 }
 .navitm{
     float: left;
     height: 40px;
     width: 164px;
	 background-color: #ff2337;
 }
 .nav_img{
	 width: 20px;
	 height: 20px;
	 position: absolute;
	 left:11%;
	 top: 25%;
 }	
 .nav_img img{
	 width: 100%;
	 height: 100%;
 }
 .nav_text{
	 text-align: center;
	 color: #FFFFFF;
	 line-height: 40px;
 }
/* nav_tab */
.nav_tab {
    position: relative;
    height: 40px;
    float: left;
    padding-left: 25px;
}
.nav_tab li {
    float: left;
    height: 40px;
    padding: 0 20px;
	line-height: 40px;
	font-weight: 600;
}
/* banner */
.banner{
	width: 100%;
}
.banner img{
	width: 100%;
}
/* 背景 */
.container{
	width: 100%;
	background-color: #f4f4f4;
}
.cp_ul{
	width: 100%;
	margin: 0 auto;
}
.cp_ul:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.dpage_bt{
	width: 100%;
}
.dpage_top{
	    height: 22px;
	    line-height: 22px;
	    margin-top: 0;
	    padding-top: 12px;
	    padding-bottom: 17px;
	    border-bottom: 1px solid #ddd;
	    font-size: 13px;
	    color: #999;
}
/* 中间 */
.media{
	width: 100%;
	margin: 20px 0 20px 0;
}
.media:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.board:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.media-left{
	width: 40%;
	float: left;
	border: 1px solid #000;
}
.media-left img{
	width: 100%;
	height: 100%;
}
/* 名称 */
/* 右面的字 */
/* 售价小 */
.label_small{
	font-size: 12px;
}
/* 分期价位 */
.small_price{
	font-size: 18px;
	font-weight: 600;
}
/* orange */
.label{
	font-size: 14px;
	background-image: linear-gradient(90deg,#ffb341 0%,#fa5512 100%);
	color:#fff;
	line-height: 30px;
	border-radius: 2px;
}

.media-body{
	width: 55%;
	height: 345.33px;
	float: left;
	margin-left: 3%;
	margin-top: 30px;
}
.media-category{
	line-height: 40px;
	font-size: 14px;
	margin-top: 1%;
}


/* big_img */
.dpage_bigimg{
	width: 100%;
	height: 100%;
	
}

.media-p{
	font-size: 30px;
	font-weight: 600;
	color: #EB4B4B;
}
/* size按钮 */
.btn-group{
	margin: 10px 0 20px 0;
}
.btn_default{
	width: 50px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #9D9D9D;
	
}
/* 购买 */
.BuyBotton{
	display: block;
	float: left;
	text-align: center;
	width: 156px;
	height: 50px;
	border: 2px solid #d41c44;
	background-color: #ffeced;
	color: #d31b44;
	line-height: 46px;
	border-radius: 5px;
}
.CarBotton{
	display: block;
	float: left;
	text-align: center;
	width: 156px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background-color: #e31436;
	margin-left: 10%;
	border-radius: 5px;
}
/* 详情 */
.dpage_bottomimg{
	width: 80%;
	margin: 0 auto;
}
/* 放大镜 */
 #box{
	position: relative;
	width: 345px;
	height: 302px;
	background-size:  345px  300px;
}

#mirror-box{
	position: absolute;
	left: 50px;
	top:10px;
	width: 120px;
	height: 120px;
	background-color: red;
	opacity: 0.3;
	display: none;
}

#show-box{
	position: absolute;
	left:420px;
	top:0;
	width: 240px;
	height: 240px;
	border:1px solid pink;
	background-size: 800px 600px;
	background-position: -100px -20px;
	display: none;
}